//import tailwind
@tailwind base;
@tailwind components;
@tailwind utilities;

// Colors
$bg-color1: #45b649;
$bg-color2: #dce35b;
$btn-bg: #8a2be2;
$btn-hover-bg: #a74dfc;
$white-color: #fff;

//General styles

body {
  background: linear-gradient(to bottom, $bg-color1, $bg-color2);
  height: 100vh;
  width: 100vw;
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

// Remove arrows from input number
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

//Main styles

.btn {
  background-color: $btn-bg;
  color: $white-color;
  transition: background-color 1s ease;
  &:hover {
    background-color: $btn-hover-bg;
  }
}

.main-border {
  border-radius: 3rem;
}

.input-border {
  border: 2px solid black;
}

// Responsive
@media screen and (max-width: 687px) {
  .text-2xl {
    font-size: 1rem;
  }
  .text-base {
    font-size: 0.8rem;
  }
  .text-xl {
    font-size: 1rem;
  }
}

@media screen and (max-width: 566px) {
  .px-32 {
    padding: 5rem;
  }
}

@media screen and (max-width: 458px) {
  .px-32 {
    padding: 3rem;
  }
}

@media screen and (max-width: 390px) {
  .px-32 {
    padding: 2rem;
  }
}
